<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Software Bazar</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Custumber" nzIcon="usergroup-add">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="customer/add-custober">Add Custober</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="customer/custober-details">Custober Details</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Invoices" nzIcon="usergroup-add">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="invoices/add-invoice">Add Invoice</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="invoices/invoice-details">Invoice Details</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="usergroup-add">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="account/profile">Profile</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="account/edit-profile">Edit Profile</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Report" nzIcon="usergroup-add">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="reports/expense-report">Expense Report</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="reports/profit-loss"> Profit & Loss Report</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="reports/sales-report">Sales Report</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="reports/tax-report">Tax Report</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<app-header></app-header>